:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E7D8C9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding:  5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #E6BEAE;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
button:hover {
  box-shadow: 0px 0px 15px #E6BEAE;

}
div {
  display: flex;
  flex-direction: column;
}
input {
  color: #B2967D;
  background-color: rgba(255, 255, 255, 0.87);
  border: 2px solid #EEE4E1; 
  border-radius: 4px;
  margin: 5px;
}
